
@{
    ViewBag.Title = "DownLoadScanIcivet";
    Layout = "~/Views/Shared/_LayoutATS.cshtml";
}

<br />
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content">
        <div class="card">
            <div class="card-header bg-success "> Download data employ scan locate in icivet/ Tải dữ liệu định vị trên icivet   </div>
            <div class="card-body" style="background-color: aliceblue;">
                <div class="row">
                    @using (Html.BeginForm("DownLoadScanIcivet", "ATS", FormMethod.Post, new { enctype = "multipart/form-data", @class = "col-12" }))
                    {
                        <div class="form-group">
                            <div class="card p-2" style="margin-bottom: 0;">
                                <fieldset class="scheduler-border" style="border: 1px solid #888888; padding: 0 1em 0.75em 1em; width: 100%; border-radius: 3px; -webkit-box-shadow: 0px 0px 0px 0px #ced4da;">
                                    <legend class="scheduler-border" style="font-size: 15px; text-align: left; width: auto; padding: 0 10px; border-bottom: none;"><h4> Lấy dữ liệu Scan Icivet </h4></legend>
                                    <label class="control-label col-md-12 text-danger card-title">Please select a date that is smaller than the current date\ Vui lòng chọn ngày cần lấy dữ liệu nhỏ hơn ngày hiện tại :</label>
                                    <br />
                                    <div class="row col-12">
                                        <div class="col-md-4">
                                            <label class="control-label col-md-12 ">Choose Date/ Chọn ngày cần lấy dữ liệu :</label>
                                            <input type="date" class="form-control" name="date" id="date" />
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label col-md-12 ">Choose Site/ Chọn khu vực :</label>
                                            <select class="form-control" id="Site" name="Site">
                                                
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label col-md-12"> <span style="display:none">Data/ Dữ liệu</span> </label>
                                            <input type="submit" class="btn-outline-primary form-control" value="Download/ Tải dữ liệu" style="margin-top:7px;" />
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</div>
<script src="~/Assets/DataTable/jquery-3.5.1.js"></script>

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <script type="text/javascript">
        alert("@ViewBag.Message");
    </script>
}

<script type="text/javascript">

    $(document).ready(function () {
        loadSite();
    });

    function loadSite() {
       
        $.ajax({
            url: "/api/ListSite",
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                $.each(result, function (key, item) {
                    //var html = '';
                    //html = '<option value="' + item.SITES + '">' + item.SITES + '</option>';
                    if (item.SITES != null) {
                        $('#Site').append('<option value="' + item.SITES + '"> ' + item.SITES + ' </option>');
                    }
                    //$('#Site').append(html);
                });
            },
        });
    }
</script>
